# dependencies
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# next.js & build output
**/.next/
**/out/
**/build/

# debug & misc
.DS_Store
*.pem
*-debug.log*
*-error.log*
.pnpm-debug.log*

# env & vercel
.env*
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# terraform
*.tfvars
**/.terraform/*
*.tfstate
*.tfstate.*