.pageButton {
    width: 40px;
    height: 40px;
    margin-left: 16px;
    background-color: #fff;
    border: #ffffff;
}
.prevButton,
.nextButton {
  margin-right: -10px;
  background-color: #fff;
  border: #ffffff;
}
.cursorNotAllowed {
    display: none;
}
.active {
    width: 40px;
    height: 40px;
    margin-left: 16px;
    color: #ffffff;
    background-color: #000000;
    border: #000000;
    border-radius: 5px;
}
span {
    margin-left: 16px;
}
.chevron_forward {
    transform: scale(-1, 1);
}